<div *ngIf="!isSelect">
    <div class="screen mt-3">
        <div class=" mt-4 mb-2" *ngFor="let itemHeader of typeHeaderLotto">
            <ng-container *ngIf="itemHeader.isHasData">
                <div class="row">
                    <div class="col text-center">
                        <b style="font-size: min(6vw,5*6px);">{{itemHeader.text}}</b>
                    </div>
                </div>
                <div class="row mt-3">
                    <ng-container *ngFor="let item of listHeader ; let index = index">
                        <div *ngIf="item.type==itemHeader.code" class="col-12 mb-2  cursor-pointer "
                            style="padding-left: 7px; padding-right: 7px;">
                            <div class="card" (click)="goTo(item,indexHeader,index)"
                                style="border-radius: 8px !important;"
                                [style.filter]="(item.timeCount<=0||item.timeCountOpen<0)||item.status == 'HIDE'?'grayscale(100%)':'unset'">
                                <div class="card-header "
                                    style="border-radius: 8px 8px 0px 0px !important;padding-inline: 10px;padding-top: 8px;padding-bottom: 2px;"
                                    [ngStyle]="{'background-color': (item.status=='SHOW') ? item.lottoColor : '#606060'}">
                                    <div class="row" style="justify-content: space-between;">
                                        <div class="col-2">
                                            <img [src]="item.lottoImg" loading="lazy" height="40px" width="40px"
                                                [ngStyle]="{'filter': (item.status=='SHOW') ? 'grayscale(0%)' : 'grayscale(100%)'}">
                                        </div>
                                        <div class="col-10 text-right" style="align-items: center;">
                                            <span
                                                style="font-size: min(3.6vw,5*3.6px);color: #ffffff;"><b>{{item.lottoName}}</b></span><br>
                                            <span *ngIf="item.timeCountOpen>0&&item.timeCount>0"
                                                style="font-size: min(2.8vw,5*2.8px);color: #ffffff;">ปิดรับ
                                                {{item.installment.timeClose|date:'dd/MM/yyyy HH:mm'}}</span>
                                            <span *ngIf="item.timeCountOpen<0"
                                                style="font-size: min(2.8vw,5*2.8px);color: #ffffff;">เปิดรับ
                                                {{item.installment.timeOpen|date:'dd/MM/yyyy HH:mm'}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row"
                                    style="justify-content: end;padding-left: 2px;padding-right: 6px;padding-top: 8px;padding-bottom: 2px;margin: 0;height: 130px;">
                                    <div class="col-12 text-right" style="align-items: start;padding-right: 0;display: flex;justify-content: flex-end;">
                                        <img [src]="(item.timeCount>0&&item.timeCountOpen>0)&&item.status != 'HIDE'?'assets/image/asset/time.svg':'assets/image/asset/block.svg'"
                                            style="width: min(5vw,5*4px);">
                                        <span style="font-size:min(4vw,5*4px);color: #020A2E;" class="ml-2"><b
                                                *ngIf="item.status == 'SHOW'&&item.timeCount>0&&item.timeCountOpen>0">
                                                <countdown [config]="countdownTimeUnits(item.timeCount)">
                                                </countdown>
                                            </b>
                                            <b
                                                *ngIf="(item.status == 'SHOW' && item.timeCount<=0||item.timeCountOpen<=0)&&item.status != 'HIDE'">
                                                ยังไม่รับแทง
                                            </b>
                                            <b
                                                *ngIf="item.status == 'HIDE'|| item.status != 'SHOW'||item.timeCount<=0||item.timeCountOpen<=0">
                                                {{item.hideDesc}}
                                            </b>
                                        </span><br>
                                    </div>
                                    <div class="col-12"></div>
                                    <div class="col-12"></div>
                                    <div class="col-12"></div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </div>
        <div class=" mt-4 mb-2" *ngIf="listHeader.length == 0">
            <div class="card">
                <div class="card-body text-center" style="padding: 3.25rem;">
                    <div>
                        <span style="font-size: min(5vw,5*5px);">
                            รายการแทงหวยยังไม่เปิดให้บริการ ณ ขณะนี้</span>
                    </div>
                    <div class="mt-2"></div>
                    <span style="font-size: min(5vw,5*5px);">กรุณารอสักครู่</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isSelect">
    <router-outlet></router-outlet>
</div>