<div class="row">
    <div class="col-sm-12  col-md-12 col-lg-12 col-xl-8 positionLogo">
        <img src="assets/image/logo.png">
    </div>

    <div class="col-md-4">
        <div class="row">
            <div class="col-sm-12  col-md-12 col-lg-12 col-xl-6">
                <button type="button" class="btn btn-warning  btn-block sizeButton"
                    style="margin-top: 4px;">สมัครสมาชิก</button>
            </div>
            <div class="col-sm-0 col-md-0 col-lg-0 col-xl-6">
                <button type="button" class="btn btn-warning  btn-block responsiveBlogin"
                    (click)="onLogin()">เข้าสู่ระบบ</button>
            </div>
        </div>

    </div>
</div>
<div class="row hidgtSpace">
    <div class="col"></div>
</div>
<div class="row">
    <div class=" col-sm-0  col-md-0 col-lg-12 col-xl-1  ">
    </div>
    <div class="card col-sm-0  col-md-0 col-lg-12 col-xl-5  cardregis">
        <!-- <input-text></input-text> -->
        <div class="row spcePC">
            <div class="col-12 text-center">

            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <div class="fontRegister">สมัครสมาชิก</div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <ul class="steps">
                    <li class="step ">
                        <div class="step-content">
                            <span class="step-circle">1</span>

                        </div>
                    </li>
                    <li class="step">
                        <div class="step-content">
                            <span class="step-circle">2</span>

                        </div>
                    </li>
                    <li class="step">
                        <div class="step-content">
                            <span class="step-circle">3</span>

                        </div>
                    </li>
                    <li class="step">
                        <div class="step-content">
                            <span class="step-circle">4</span>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-2 text-center">
            </div>
            <div class="col-8 text-center">
                <input-text wording="กรุณากรอกเบอร์โทรศัพท์"></input-text>
            </div>
            <div class="col-2 text-center"></div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1" style=" color: #E9EAEA">
                        ยอมรับเงื่อนไข Term and condition
                    </label>
                </div>
            </div>
        </div>

        <div class="row mt-5 mb-3">
            <div class="col-2 text-center">
            </div>
            <div class="col-8 text-center">
                <button type="button" class="btn btn-warning  btn-block ">ยืนยัน</button>
            </div>
            <div class="col-2 text-center"></div>
        </div>
        <hr style="background-color: #F4B87C;">
    </div>
    <div class=" col-sm-0  col-md-0 col-lg-12 col-xl-1  ">
    </div>
    <div class="col-sm-12  col-md-12 col-lg-12 col-xl-5 ">
        <div class="row">
            <div class="col-6">
                <div class=" card cardshow ">
                    <div class="row text-center mt-2">
                        <div class="col">
                            <img src="assets/image/sides.png" class="sizeIcon">
                        </div>
                    </div>
                    <div class="row text-center mt-2">
                        <div class="col">
                            <div class="fontText">
                                ฝากถอน อัตโนมัติ

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-6 ">
                <div class=" card cardshow ">
                    <div class="row text-center mt-2">
                        <div class="col">
                            <img src="assets/image/sides1111.png" class="sizeIcon">
                        </div>
                    </div>
                    <div class="row text-center mt-2">
                        <div class="col">
                            <div class="fontText ">บริการลูกค้า</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-4">
                <div class=" card cardshow2 ">
                    <div class="row text-center">
                        <div class="col">
                            <img src="assets/image/OIUGN50.png" class="sizeIconLotto">
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col">
                            <p class="fontQuiz">ผลฉลากกินแบ่งรัฐบาล</p>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col">
                            <p class="fontsubQuiz">งวดวันที่ 1 กันยายน 2563</p>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-3">
                            <p class="fontsubQuiz01">รางวัลที่ 1</p>
                        </div>
                        <div class="col-3">
                            <p class="fontsubQuiz01">เลขท้าย 2 ตัว</p>
                        </div>
                        <div class="col-3">
                            <p class="fontsubQuiz01">เลขหน้า 3 ตัว</p>
                        </div>
                        <div class="col-3">
                            <p class="fontsubQuiz01">เลขท้าย 3 ตัว</p>
                        </div>
                    </div>
                    <div class="row text-center ">
                        <div class="col-3">
                            <p class="fontsubQuiz02">999997</p>
                        </div>
                        <div class="col-3">
                            <p class="fontsubQuiz02">98</p>
                        </div>
                        <div class="col-3">
                            <p class="fontsubQuiz02">636 725</p>
                        </div>
                        <div class="col-3">
                            <p class="fontsubQuiz02">342 957</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12  col-md-12 col-lg-12 col-xl-1">
    </div>
</div>

<div class="row magrin">
    <div class="col-sm-12  col-md-12 col-lg-12 col-xl-6">

    </div>
    <div class="col-sm-12  col-md-12 col-lg-12 col-xl-5">
        <div class="row">
            <div class="col-12">
                <!-- <div class=" card cardshow2 ">
                    <div class="row text-center">
                        <div class="col">
                            <img src="assets/image/OIUGN50.png" class="sizeIconLotto">
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col">
                            <p class="fontQuiz">ผลฉลากกินแบ่งรัฐบาล</p>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col">
                            <p class="fontsubQuiz">งวดวันที่ 1 กันยายน 2563</p>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-3">
                            <p class="fontsubQuiz01">รางวัลที่ 1</p>
                        </div>
                        <div class="col-3">
                            <p class="fontsubQuiz01">เลขท้าย 2 ตัว</p>
                        </div>
                        <div class="col-3">
                            <p class="fontsubQuiz01">เลขหน้า 3 ตัว</p>
                        </div>
                        <div class="col-3">
                            <p class="fontsubQuiz01">เลขท้าย 3 ตัว</p>
                        </div>
                    </div>
                    <div class="row text-center ">
                        <div class="col-3">
                            <p class="fontsubQuiz02">999997</p>
                        </div>
                        <div class="col-3">
                            <p class="fontsubQuiz02">98</p>
                        </div>
                        <div class="col-3">
                            <p class="fontsubQuiz02">636 725</p>
                        </div>
                        <div class="col-3">
                            <p class="fontsubQuiz02">342 957</p>
                        </div>
                    </div>

                </div> -->
            </div>
        </div>

    </div>
    <div class="col-sm-12  col-md-12 col-lg-12 col-xl-1">
    </div>
</div>