<mat-sidenav-container class="ex-container" style=" display: grid; height: 100vh; " [draggable]="true">
    <mat-sidenav-content>
        <app-navbar (onClickEventMenu)="sidenav.toggle()" [showImage]="showImage" (onClickEventLogin)="clickLogin()"
            (onClickEvent)="clickRegister()"></app-navbar>
        <div class="row justify-content-center ml-0 mr-0" style="    margin-top: 48px;">
            <div class="col" style="max-width: 630px;width: 100vw;background-color: #fff;    margin-top: 130px;">
                <div *ngIf="register == '1'" class="d-flex flex-column justify-content-center align-items-center h-100"
                    style=" margin-top: 35px;">
                    <div style="width: 100%; padding-right: 36px; padding-left: 36px; ">
                        <div class="row mb-5 ">
                            <div class="col text-center">
                                <b style="font-size: min(8vw,5*8px);color: #020A2E;">เข้าสู่ระบบ</b>
                            </div>
                        </div>
                        <div class="row mt-1 p-0" *ngIf="inputUserName">
                            <div class="col text-center p-0">
                                <div class="form-group" style="    display: grid; justify-items: start;">
                                    <label>ชื่อผู้ใช้ของคุณ</label>
                                    <input type="text" [(ngModel)]="username" class="form-control"
                                        placeholder="ชื่อผู้ใช้ของคุณ">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2" *ngIf="inputConfirmPassword">
                            <div class="col  p-0">
                                <div class="form-group" style="    display: grid; justify-items: start;">
                                    <label>รหัสผ่าน</label>
                                    <input type="text" [(ngModel)]="password" class="form-control"
                                        placeholder="รหัสผ่าน">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col  p-0 text-center">
                                <button type="submit" *ngIf="buttonSubmit" (click)="onLogin()"
                                    class="btn responsiveBlogin btn-lg"
                                    style="    width: 100%;color: #fff;"><b>เข้าสู่ระบบ</b></button>
                            </div>
                        </div>
                        <div class="row" *ngIf="textErrorLogin != ''&&buttonSubmit ">
                            <div class="col p-0 ">
                                <div class="errorLogin mt-1 text-center">{{textErrorLogin}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>