<div class="row mb-4 mt-3">
    <div class="col text-center">
        <img src="assets/image/logoback.png" width="180" height="50" alt="">
    </div>
</div>
<div class="row mt-5">

    <div class="col text-center">

        <b style="color: #020A2Eff;margin-top: 35px; font-size: 25px;">{{textHeader}}</b>

    </div>

</div>

<div class="row mt-4">

    <div class="col text-center">
        <input-text *ngIf="isShow" iconset="fa fa-user" [(ngModel)]="username" wording="กรุณากรอกชื่อผู้ใช้ของคุณ (ยูเซอร์เนม)"></input-text>

    </div>

</div>
<div class="row mt-2" *ngIf="isShow">

    <div class="col text-center">
        <input-text [(ngModel)]="mobilePhone" wording="กรุณากรอกหมายเลขโทรศัพท์ 10 หลักของคุณ"></input-text>
        <div class="errorLogin">{{showTextValiDate}}</div>
    </div>

</div>
<div class="card" style="height: 150px;" *ngIf="!isShow">
    <div class="row mt-4">
        <div class="col-1"></div>
        <div class="col text-center">
            <p style="color: #e90061;">รหัสอ้างอิง OTP {{refCode}} ภายในเวลา 3 นาที</p>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row ">
        <div class="col-1"></div>
        <div class="col text-center">
            <input [(ngModel)]="otp" class="form-control form-control-sm inputCard" type="text" style="text-align: center !important;">


        </div>
        <div class="col-1"></div>
    </div>
    <div class="row mt-4">
        <div class="col-1"></div>
        <div class="col text-center">
            <button type="button" (click)="sendPhoneNew()" class="btn btn-outline-danger btn-sm">ขอรหัส OTP ใหม่</button>
        </div>
        <div class="col-1"></div>
    </div>
</div>

<div class="row mt-4 text-center" *ngIf="showTextValiDate">
    <div class="col text-center">
        <div class="errorLogin">{{showTextValiDate}}</div>
    </div>
</div>

<div class="row mt-2 text-center" *ngIf="delayMap[mobilePhone]?.time > 0 && status == 1">
    <div class="col text-center">
        <div class="errorLogintext">ใช้เบอร์นี้ได้อีกใน {{delayMap[mobilePhone].time}} วินาที</div>
    </div>
</div>

<div class="row mt-2 text-center" *ngIf="delayMap[mobilePhone]?.time > 0 && status == 2">
    <div class="col text-center">
        <div class="errorLogintext">ขอ OTP ได้อีกใน {{delayMap[mobilePhone].time}} วินาที</div>
    </div>
</div>


<div class="row mt-3">

    <div class="col text-center">
        <button *ngIf="isShow" (click)="sendPhone()" type="button" class="btn responsiveBlogin btn-lg"><b style=" font-size: min(5vw, 5*5px);">ขอรหัสยืนยัน</b> </button>
        <button *ngIf="isShow" (click)="getStatus('1')" type="button" class="btn responsiveBloginBack btn-lg"><b style=" font-size: min(5vw, 5*5px);">ย้อนกลับ</b> </button>
        <button *ngIf="!isShow" type="button" (click)="checkOtp()" class="btn responsiveBlogin "> <b style=" font-size: min(5vw, 5*5px);">ยืนยัน</b></button>
    </div>


</div>



<div class="row mt-4">

    <div class="col text-center">
        <p><span class="mr-2" style="color:  #848484;">พบปัญหา </span> <span style="color:#F66700">ติดต่อฝ่ายบริการลูกค้า</span></p>

    </div>

</div>