<div class="screen">

    <div class="row mt-3">
        <div class="col text-center">
            <img class="mr-3 mb-2" src="./assets/image/asset/fish.png" style="width: min(9vw,5*9px);">
            <b style="font-size: min(7vw,5*7px);">เกมส์ยิงปลา</b>
        </div>
    </div>
    <div class="row mt-3 ml-1 mr-1" style="justify-content: space-evenly;">
        <div *ngFor="let item of listGames;let index = index">
            <div class="card card-game pd  text-center">
                <div class="card-body mid">
                    <img src='{{item.url}}' alt="{{item.url}}{{index}}" class="img">
                    <button *ngIf="item.favorite" class="heart" mat-icon-button style="color: palevioletred;" (click)="favorite(index)" aria-label="Example icon-button with a heart icon">
                        <mat-icon>favorite</mat-icon>
                    </button>
                    <button *ngIf="!item.favorite" class="heart" mat-icon-button style="color: palevioletred;" (click)="favorite(index)" aria-label="Example icon-button with a heart icon">
                        <mat-icon>favorite_border</mat-icon>
                    </button>
                </div>
                <div class="card-footer mt-2">เล่นเกมส์</div>
            </div>
        </div>
    </div>
</div>