<div class="screen">
    <div class="row mt-4 mb-4" style="align-items: flex-start;" routerLink="/">
        <img src="assets/image/asset/out.svg" class="imgUser mr-3" style=" padding-left: 5vw;width: 10vw;">
        <span style="font-size: 5vw;"><b>หน้าหลัก</b></span>
    </div>



    <div class="card">
        <div class="card-body" style="    padding: 0.25rem;">
            <div class="row mt-1 mb-1">
                <div class="col-2">
                    <img src="assets/image/asset/casino.png" class="imgUser mr-3" style="padding-left: 1vw;width: 12vw;">
                </div>
                <div class="col-10">
                    <div style="border-bottom: 1px solid #A2A5A8; margin-right: 18px;  ">
                        <b style="font-size: 5vw;color: #020A2E;">ยอดแทง เกมส์สล็อต/ยิงปลา</b>
                    </div>
                    <div style="    margin-top: 4px;">
                        <b style="color: #020A2E;">500.00</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <img src="assets/image/asset/casino.png" class="imgUser mr-3" style=" padding-left: 5vw;width: 10vw;"> -->