.form-group .form-control {
    padding-left: 1.375rem;
    border-radius: 5px;
    border: none;
    color: #14171C;
}

.form-group .form-control-icon {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 47px;
    text-align: center;
    pointer-events: none;
    color: #F4B87C;
}

.stinout {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.10);
}

i.form-control-feedback {
    position: absolute;
    top: 39%;
    right: 25px;
    transform: translateY(-50%);
}

::-webkit-input-placeholder {
    /* Mozilla Firefox 4 to 18 */
    line-height: 1.5em;
}


/* .form-group {
    position: relative;
} */