.fontD {
    font-size: min(5vw, 5*5px);
    color: #020A2E;
    margin-top: 14px;
}

.screen {
    margin-top: 1rem;
}

.fontD2 {
    font-size: min(8vw, 5*8px);
    font-weight: 900;
    color: #020A2E;
}

.fontH1 {
    font-size: min(5vw, 5*5px);
    color: #020A2E;
}

.fontH5 {
    font-size: min(4.1vw, 5*4.1px);
    color: #020A2E;
}

.fontH {
    font-size: min(6vw, 5*6px);
    color: #020A2E;
}

.colorFont {
    color: #020A2E;
}

.decoration {
    height: 52px;
    /* ความสูงของเส้น */
    width: 1px;
    /* ความหนาของเส้น */
    background-color: black;
    /* สีของเส้น */
    display: block;
}

hr {
    background-color: #020A2E;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.buttonStatus {
    font-size: min(3vw, 5*3px);
    padding-left: 10px;
    margin-top: -10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 7px;
    background-color: #E90061;
    color: #fff;
    right: 14px;
    position: absolute;
}

#pNone {
    margin-block-start: 0em !important;
    margin-block-end: 0em!important;
}