<div class="screen mt-4">
    <div class="row mt-3">
        <div class="col">
            <div class="card  " style="border-radius: 10px;">
                <div class="card-body">
                    <div class="row text-center" style="padding-left: min(5vw,5*5px);padding-right: min(5vw,5*5px);">
                        <div class="col" (click)="goToPath('/profile/profile-bank002')">
                            <div>
                                <img src="./assets/image/asset/DeWith.png" height="30px" width="30px">
                            </div>
                            <div class="mt-2"><span class="fonttext">ถอนเงิน</span></div>
                        </div>
                        <div class="col" (click)="goToPath('/deposit')">
                            <div>
                                <img src="./assets/image/asset/depo.png" height="30px" width="40px">
                            </div>
                            <div class="mt-2"><span class="fonttext">ฝากเงิน</span></div>
                        </div>
                        <div class="col" (click)="goToPath('/user/user003')">
                            <div matBadge="{{postList.length}}" style="margin-right: 25px;" *ngIf="postList.length>0">
                            </div>
                            <img src="./assets/image/asset/messges.png" height="30px" width="40px">
                            <div class="mt-2"><span class="fonttext">ข้อความ</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="card mb-2" style=" border-radius: 10px;">
                <div class="card-body text-center">
                    <span style="font-size: min(5vw,5*5px);">โบนัสคืนเงินที่จะได้รับฟรีพรุ่งนี้ <span
                            class="textPink"><b>{{turnOverDataRat!=null?turnOverDataRat:'-'}}
                                เครดิต</b></span>
                    <br>ยอดแทงวันนี้ <span style="color: #00E38D;">
                            <b>{{turnOverData}}
                                เครดิต</b></span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <div class="card mid" style="height: min(19vw,5*17px); border-radius: 13px !important; border: none;align-items: baseline;" [style.background-color]="listUser.color">
                <div class=" mid" style="z-index: 1;">
                    <div class="text-right ml-4 mid">
                        <p class="fontBank mr-2 mt-2">
                            <img [src]='listUser.src' class="banner"></p>
                    </div>
                    <div class="col">
                        <span class="fontbanName ml-3 mt-2" style="margin:0;"><b>{{realName||"เลขที่บัญชี"}}</b></span>
                        <div> <span class="fontbankAccount ml-3">{{listUser.bankAccount}}</span></div>
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 970 180" style="position: absolute; right:  0; bottom: 0;border-radius: 10px;z-index: 0;">
                    <g class="cls-1">
                        <g id="Layer_2" data-name="Layer 2">
                            <g id="Layer_1-2" data-name="Layer 1">
                                <path class="cls-4" [style.fill]="listUser.color2"
                                    d="M984.91,155.21V66.57c-164.23,90.53-419.19,112.82-433.19,114H953.31A32.06,32.06,0,0,0,984.91,155.21Z" />
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col" (click)="goToPath('/user/user004/user004-sub001')">
            <div class="card " style="height: min(17vw,5*17px);background-color: #FFDE0C; border-radius: 13px !important; border: none;">
                <div class="card-body mid">
                    <div class="row" style="align-items: center;">
                        <div><img src="assets/image/asset/paper.svg" style="width: min(6vw,5*6px);"></div>
                        <span class="text-center textBlue ml-2" style="font-size: min(5vw,5*5px);"><b>รายงานเครดิต</b></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col" (click)="goToPath('/user/user-setting')">
            <div class="card " style="height: min(17vw,5*17px);background-color: #C6C6C6; border-radius: 13px !important; border: none;">
                <div class="card-body mid">
                    <div class="row" style="align-items: center;">
                        <div><img src="assets/image/asset/setting.svg" style="width: min(6vw,5*6px);"></div>
                        <span class="text-center textBlue ml-2" style="font-size: min(5vw,5*5px);"><b>ตั้งค่าบัญชี</b></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>