.margin {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

.cardRM {
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 0.5rem;
    width: min( 42vw, 5*42px);
    height: min( 43vw, 5*43px);
}

.imgGame {
    height: min( 16vw, 5*16px);
}

.card-header {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    padding: min( 1.5vw, 5*1.5px) 0 min( 1.5vw, 5*1.5px) 0;
}

.font5 {
    font-size: min(4vw, 5*4px);
}