.icon {
    height: 100%;
    /* opacity: 0.05; */
    position: absolute;
    top: -2vw;
    left: 0px;
    z-index: 0;
}

.card-mini {
    width: 42.1vw;
    height: 8.8vw;
    border: 2px solid #43485F;
    box-shadow: none;
    border-radius: 7px !important;
}

.card-mini-2 {
    width: 15.2vw;
    height: 8.8vw;
    border: 2px solid #43485F;
    box-shadow: none;
    margin-top: 1vw;
}