<p class="fontH" style="color: #fff;margin-top: 35px;">กรอกเบอร์มือถือ</p>

<div class="row mt-3">
    <div class="col-1 text-center">
    </div>
    <div class="col-10 text-center">
        <input-text wording="กรอกเบอร์มือถือใหม่"></input-text>
    </div>
    <div class="col-1 text-center"></div>
</div>
<div class="row mt-2">
    <div class="col-1 text-center">
    </div>
    <div class="col-10 text-center">
        <button type="button" (click)="getStatus('1')" class="btn colorButton btn-block">เปลี่ยนเบอร์มือถือ</button>
    </div>

    <div class="col-1 text-center"></div>
</div>

<div class="row mt-2">
    <div class="col-1 text-center">
    </div>

    <div class="col-1 text-center"></div>
</div>
<div class="row mt-2">
    <div class="col-1 text-center">
    </div>
    <div class="col-10 text-center">
        <hr style="background-color: #fff;">
    </div>
    <div class="col-1 text-center"></div>
</div>
<div class="row">
    <div class="col-1 text-center">
    </div>
    <div class="col-10 text-center">
        <p><span class="mr-2" style="color:  #F97700;">พบปัญหา !</span> <span style="color:#fff">ติดต่อฝ่ายลูกค้า</span></p>

    </div>
    <div class="col-1 text-center"></div>
</div>