<!-- <div class="mb-3">
    <div class="input-group is-invalid">
        <div class="input-group-prepend">
            <span style="background-color:#D9DCDD;width: 42px;" class="input-group-text" id="validatedInputGroupPrepend">
                <i class="fa fa-{{iconset}} fa-lg"></i>
            </span>
        </div>

        <select class="form-control  inputText" required>
            <option >กรุณาเลือกสถานะ</option>
          </select>
        <span class="floating-label">&nbsp;  {{wording}} &nbsp;</span>
    </div>

</div> -->