<div class="row rowPad  mt-3 ml-1 mr-1" style="justify-content: space-evenly;">
    <card-recommend *ngFor="let item of listMenu" [header]="item.name" [detail]="item.event"></card-recommend>
</div>
<div style="background-color: #fff;border-radius: 10px;">
    <table class="table mt-3 ">
        <thead>
            <tr style="color: white;background-color: #020A2E;">
                <th style="border-top-left-radius: 10px;">ประเภทเกมส์ (ส่วนแบ่ง)</th>
                <th>ยอดแทงสมาชิก</th>
                <th>ยอดแทงสมาชิกขั้น 2</th>
                <th style="border-top-right-radius: 10px;">รายได้</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of dashBoard.channelDetailList">
                <th scope="row">{{item.channelName || '-'}} ( {{item.shareRateOne}}% , {{item.shareRateTwo}}% )</th>
                <td class="text-center">{{item.totalBetOne|| '-'}}</td>
                <td class="text-center">{{item.totalBetTwo|| '-'}}</td>
                <td class="text-right">{{item.totalIncome|| '-'}}</td>
            </tr>
            <tr *ngIf="dashBoard.channelDetailList == null" class="text-center">
                <th colspan="3">ไม่มีข้อมูล
                </th>
            </tr>
        </tbody>
    </table>
</div>
<div class="card mt-3" style="border-radius: 10px;">
    <div class="row mt-3">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="fontrecommend text-center">ลิ้งช่วยแชร์ช่วยแนะนำ</div>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row mt-2">
        <div class="col-1"></div>
        <div class="col-10">
            <textarea style="border: none;" class="form-control" readonly [(ngModel)]="myPath" rows="3"></textarea>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row mt-2 mb-2">
        <div class="col-1"></div>
        <div class="col-10 text-center">
            <button type="button" class="btn " [ngClass]="!isCopy?'isCopyCss':'isNotCopyCss'" (click)="copyText()">
                <span *ngIf="!isCopy">คัดลอกลิงค์</span>
                <span *ngIf="isCopy">คัดลอกแล้ว</span>
            </button>
        </div>
        <div class="col-1"></div>
    </div>
</div>
<div class="mr-2 ml-2 mt-4">
    <p style="font-size: min( 4vw,5*4px);"><b>ยิ่งแชร์มาก ยิ่งได้มาก</b> เปลี่ยนการแชร์ให้เป็นเงิน ได้ง่ายๆ ชอบลุ้น
        ชอบรวย เรามีบริการ แทงหวย, บาคาร่า, สล็อต, คาสิโน, แทงบอล ให้นักเสี่ยงโชค ได้ลุ้นระทึก ตลอด 24 ชั่วโมง รับประกัน
        ได้เงินจริง
    </p>
</div>

<div class="mr-2 ml-2 mt-4">
    <p style="font-size: min( 4vw,5*4px);">ยิ่งมีผู้เล่นมากเท่าไหร่ ผ่านลิ้งของท่าน ยิ่งแชร์เยอะ ผู้เล่นแยะ&nbsp;
        <b>ก็รับเลยทันที 8% ของทุกยอดการเล่น</b> รับเงินง่ายๆ ได้เงินจริง รายได้ไม่มีลิมิต ชีวิตเต็มร้อยแบบนี้
        รีบสมัครเป็นตัวแทนกันเลยจ้า!!!
    </p>
</div>

<div class="mr-2 ml-2 mt-4">
    <p style="font-size: min( 4vw,5*4px);"><b>ระบบใช้งานง่าย ตรวจสอบได้ รับเงินจริง</b> แจ้งถอนเงินของท่าน
        ได้ทุกเวลาเมื่อมียอดรายได้มากกว่า 300 บาทขึ้นไป ถอนได้เลย รับเงินทันที
</div>


<div class="mr-2 ml-2 mt-4">
    <p style="font-size: min( 4vw,5*4px);">จะช้าอยู่ใย รีบแชร์ รีบรวย ยังมีคนรอเล่น อยู่เยอะนะ จะบอกให้!!!!
        สนใจอยากสมัคร แค่แชร์ ก็รวยได้ คลิกเลยจ้า!!!
</div>