<div class="bac01">
    <!-- <img src="assets/image/svg/bas01.svg" class="styleimage"> -->
    <div class="text-center">
        <b class="fontH ">FISHING</b>
    </div>
    <div class="text-center mt-2">
        <div class="fontD">xxxx xxxxx xxxxx xxxxx</div>
    </div>
    <div class="text-center">

        <!-- <img src="{{imagePath}}"> -->
    </div>
    <div class="text-center mt-2">
        <div class="fontD">xxxx xxxxx xxxxx xxxxx</div>
    </div>
    <div class="text-center mt-2">
        <div class="fontD">xxxx xxxxx xxxxx xxxxx</div>
    </div>
    <div class="text-center mt-2">
        <div class="fontD">xxxx xxxxx xxxxx xxxxx</div>
    </div>

    <div class="text-center mt-4">
        <button type="button" (click)="click()" class="btn btn-outline-dark btn-sm btt"><b>START</b> </button>
    </div>

</div>