.screen {
    padding-left: 1rem;
    padding-right: 1rem;
}

.cardBack {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 13px;
}


/* .card-game {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    height: min(53.0vw, 5*53.0px);
    width: min(41.0vw, 5*41.0px);
    margin-right: 2px;
    margin-left: 2px;
} */

.card-game {
    height: calc(100% - 15px);
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 11px;
    width: min(43.4vw, 7*41px);
}

.list-box {
    height: min(18vw, 5*18px);
    width: min(18vw, 5*18px);
    /* margin: 2px; */
    border-radius: 24.5px;
}

cssCard {
    border: none;
    background: #ffffff 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 3px 6px #00000029!important;
    border-radius: 8px!important;
}

.card.pd {
    margin-bottom: min(4vw, 5*4px);
}

.img_wrp {
    display: inline-block;
    position: relative;
}

#imgUNcover {
    /* padding: 8px; */
    width: 100%;
    object-fit: contain;
    padding-left: 8px;
    padding-top: 8px;
    padding-right: 8px;
}

.card-header {
    padding: 0px;
    padding: 0;
    background-color: #ffde0b;
    color: #020A2E;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.card-footer {
    font-weight: bolder;
    border-top: 0;
    padding: min(1vw, 5*1px) 0 min(1vw, 5*1px) 0;
    background-color: #ffde0b;
}

.row {
    margin-right: -0px;
    margin-left: -0px;
    justify-content: space-between;
}

.img {
    width: min(38.1vw, 5*38.1px);
    height: min( 33.87vw, 5* 33.87px);
    z-index: 1;
}

.mid {
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: min(2vw, 5*2px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.heart {
    position: absolute;
    z-index: 99;
    color: palevioletred;
    top: 0vw;
    right: 0vw;
    text-shadow: 0px 0px 6px palevioletred;
}

.icon {
    height: 100%;
    opacity: 0.05;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}

*:focus {
    outline: 0 !important;
}

.textGame {
    font-size: min(5vw, 5*5px);
    color: #020A2E;
}

.textGameButoom {
    font-size: min(4.4vw, 5*5px);
    color: #020A2E;
}

.imgdetail {
    width: min(14vw, 5*14px);
    margin-left: -5px;
}

.textTotalGame {
    font-size: min(3.5vw, 5*3.5px);
    color: #020A2E;
    cursor: pointer;
}

.bottonInimage {
    width: 24%;
    position: absolute;
    top: 50%;
    left: 81%;
    background-color: #FFDE0C;
    transform: translate(-50%, -50%);
}