<div *ngIf="isShow">
    <div class="card mt-3 mb-3" *ngFor="let item of list;let i = index">
        <div class="card-body" style="padding: 0 1.25rem 0.5rem 1.25rem;">
            <div class="row mt-3">
                <div class="col">
                    <b class="fontH1">เลขที่รายการ </b><span style="color: #F66700 ;font-size: min(3vw,5*3px);">#{{item.lottoTransactionGroupCodeSend}}</span> <span class="badge buttonStatus">รับแทง</span>
                </div>
            </div>
            <hr style="background-color: #020A2E;">
            <div class="row mt-2">
                <div class="col-6" style="    border-right: 0.7px solid #020A2E;">
                    <p *ngIf="item.lottoCategoryCode == 'YEEKEE'" class="fontD">{{item.lottoClassName}}รอบที่ {{item.roundYeekee}}</p>
                    <p *ngIf="item.lottoCategoryCode != 'YEEKEE'" class="fontD">{{item.lottoClassName}}</p>
                    <p class="fontD2">{{ item.createAt}}</p>
                </div>
                <div class="col-6" style="    border-left: 0.7px solid #020A2E;padding-left: 3px;">
                    <p class="fontD">เงินเดิมพัน <span style="position: absolute;right: 15px;color: #00C157; font-weight: bold;   font-size: min(4vw,5*4px); margin-top: 2px; ">{{item.sumBet | number}}฿</span>
                    </p>
                    <p class="fontD">ผลชนะ <span style="position: absolute;right: 15px;color: #E90061; font-weight: bold;   font-size: min(4vw,5*4px); ">{{item.sumPrizeWin | number}}฿</span>
                    </p>
                </div>
            </div>
            <div class="row mt-3 mb-1">
                <div class="col text-center">
                    <button type="button" (click)="onClickEdit(item.lottoTransactionGroupCodeSend,item.lottoClassName)" class="btn  btn-sm mr-2" style="background-color: #FFDE0C;"><b
                            style="color: #020A2E;">ดูรายละเอียด</b></button>
                    <button type="button" [disabled]="!item.canRefund" (click)="openAlertContirmTextModal(false,item.lottoTransactionGroupCodeSend,item.lottoClassCode,item.roundYeekee,item.lottoCategoryCode)" class="btn  btn-sm" style="background-color:  #E90061;"><b
                            style="color: #fff;">คืนโพย</b></button>
                </div>
            </div>

        </div>
    </div>
</div>
<div *ngIf="!isShow">
    <div class="card mt-3 mb-3">
        <div class="row mt-3 mb-3">
            <div class="col text-center">
                <b class="margin" style="font-size: 19px;font-weight: bold;color: #020A2E;">ไม่มีข้อมูลโพย <i
                        class="fa fa-info-circle" aria-hidden="true"></i></b>
            </div>
        </div>

    </div>
</div>
<div class="mid">
    <ng-template #showAlertContirmText>
        <div body class="mb-3 mt-2 mr-2">
            <div class="screen mt-4 ">
                <div class="row text-right" (click)="closeModal()"> <i class="material-icons" style="position: absolute; right: min(2vw,5*2px); top: min(1vw,5*1px);color: rgb(221, 75, 75);font-weight: bold;">cancel</i>
                </div>
                <div class="mt-4 text-center mb-4"> <span style=" font-size: min(5vw,5*5px);">
                        <b>คุณต้องการคืนโพยหวยใช่หรือไม่?</b></span><br>
                </div>
                <div class="mt-4 row" style="justify-content: center;">
                    <div class="card noShadow mid noShadow NoBorder mr-1" (click)="closeModal()" style="cursor: pointer;padding: min(2vw,5*2px);width: min(22vw,5*22px);border-radius: 7px !important;font-size: min(4vw,5*4px);background-color: #E90061;">
                        <b style="color: white;">ยกเลิก</b>
                    </div>
                    <div (click)="refund()" class="card noShadow mid noShadow NoBorder ml-1" style="cursor: pointer;padding: min(2vw,5*2px);width: min(22vw,5*22px);border-radius: 7px !important;font-size: min(4vw,5*4px);background-color: #020A2E;">
                        <b style="color: white;">ตกลง</b>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>
<div class="mid">
    <ng-template #showAlertContirm>
        <div body class="mb-3 mt-2 mr-2">
            <div class="screen mt-4 ">
                <div class="row text-right" (click)="closeModal()"> <i class="material-icons" style="position: absolute; right: min(2vw,5*2px); top: min(1vw,5*1px);color: rgb(221, 75, 75);font-weight: bold;">cancel</i>
                </div>
                <div class="row " style="margin: min(3vw,5*3px) 0 0 0;justify-content: center;">
                    <img *ngIf="isShowImage" src="assets/image/asset/Correct.svg" style="width: min(20vw,5*20px);">
                    <img *ngIf="!isShowImage" src="assets/image/asset/warnning2.svg" style="width: min(20vw,5*20px);">
                </div>
                <div class="mt-4 text-center mb-4">
                    <span style=" font-size: min(5vw,5*5px);"> <b>{{text}}</b></span><br>
                </div>
                <div class="mt-4 row" style="justify-content: center;">
                    <div (click)="closeModal()" class="card noShadow mid noShadow NoBorder ml-1" style="padding: min(2vw,5*2px);width: min(22vw,5*22px);border-radius: 7px !important;font-size: min(4vw,5*4px);background-color: #020A2E;">
                        <b style="color: white;">ตกลง</b>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>