<div class="row mb-4 mt-3">
    <div class="col text-center">
        <img src="assets/image/logoback.png" width="180" height="50" alt="">
    </div>
</div>
<div class="row mt-5">
    <div class="col text-center">
        <b class="fontH" style="color: #020A2Eff;margin-top: 35px;    font-size: 24px;">รหัสผ่านใหม่</b>
    </div>
</div>
<div class="row mt-3">
    <div class="col text-center">
        <input-password type="password" [(ngModel)]="newPassword" iconset="fa fa-lock" wording="รหัสผ่านใหม่"></input-password>
    </div>
</div>
<div class="row mt-2">
    <div class="col text-center">
        <input-password type="password" [(ngModel)]="recentPassword" iconset="fa fa-lock" wording="รหัสผ่านใหม่อีกครั้ง"></input-password>
        <div class="errorLogin">{{showTextValiDate}}</div>
    </div>
</div>
<div class="row mt-2">
    <div class="col text-center">
        <button (click)="sendPhone()" type="button" class="btn colorButton btn-lg">ยืนยัน </button>
    </div>
</div>

<div class="row mt-4">
    <div class="col text-center">
        <p><span class="mr-2" style="color:  #848484;">พบปัญหา </span> <span style="color:#F66700">ติดต่อฝ่ายบริการลูกค้า</span></p>

    </div>

</div>