<div class="screen">
    <!-- ___________________ รายการเกมส์ ___________________ -->
    <br>
    <div class="row mt-2 margin" style="justify-content: space-around">
        <div class=" cardRM text-center" *ngFor="let item of listGames;let index=index" (click)="goTo(item)" style="    justify-content: center;align-items: center;display: grid;">
            <img src='{{item.iconUrl}}' class="imgGame" style="margin: auto;">
            <button type="button" class="btn   btn-block mt-2" style="background-color: #FFDE0C;padding: 0;width: min(30vw,5*30px);height: min(7vw,5*7px);"><b>
                    {{item.nameTh}} </b>
            </button>
        </div>
    </div>
    <br>
    <div class="card  margin">
        <div class="card-body" style="    padding: 1.60rem;">
            <div class="row text-center" style="justify-content: space-around;">
                <div class="col">
                    <div (click)="openContract()" style="margin-top: auto;cursor: pointer !important;">
                        <div style="height: min(13vw,5*13px);"> <img src="assets/image/icon-main/icon1.png" style="width:min(9vw,5*9px) ;">
                        </div>
                        <div class="mt-1"><span style="font-size: min(4vw,5*4px);">ติดต่อเรา</span></div>
                    </div>
                </div>
                <div class="col">
                    <div (click)="openRecommendUntra()" style="margin-top: auto;cursor: pointer !important;">
                        <div style="height: min(13vw,5*13px);"> <img src="assets/image/icon-main/icon2.png" style="width:min(12vw,5*12px) ;">
                        </div>
                        <div class="mt-1"><span style="font-size: min(4vw,5*4px);">แนะนำสร้างรายได้</span></div>
                    </div>
                </div>
                <div class="col">
                    <div (click)="openPoylottery()" style="margin-top: auto;cursor: pointer !important;">
                        <div style="height: min(13vw,5*13px);"> <img src="assets/image/icon-main/icon6.png" style="width:min(12vw,5*12px) ;">
                        </div>
                        <div class="mt-1"><span style="font-size: min(4vw,5*4px);">ดูโพยหวย</span></div>
                    </div>
                </div>
            </div>
            <div class="row text-center mt-4" style="justify-content: space-around;">
                <div class="col">
                    <div (click)="openSerieslottery()" style="margin-top: auto;cursor: pointer !important;">
                        <div style="height: min(13vw,5*13px);"> <img src="assets/image/icon-main/icon7.png" style="width:min(12vw,5*12px) ;">
                        </div>
                        <div class="mt-1"><span style="font-size: min(4vw,5*4px);">เลขชุด</span></div>
                    </div>
                </div>
                <div class="col">
                    <div (click)="openRecommend()" style="margin-top: auto;cursor: pointer !important;">
                        <div style="height: min(13vw,5*13px);"> <img src="assets/image/icon-main/icon8.png" style="width:min(10vw,5*10px) ;">
                        </div>
                        <div class="mt-1"><span style="font-size: min(4vw,5*4px);">ผลรางวัลหวย</span></div>
                    </div>
                </div>
                <div class="col">
                    <div (click)="openProfileBank()" style="margin-top: auto;cursor: pointer !important;">
                        <div style="height: min(13vw,5*13px);"> <img src="assets/image/icon-main/icon9.png" style="width:min(12vw,5*12px) ;">
                        </div>
                        <div class="mt-1"><span style="font-size: min(4vw,5*4px);">ดูข้อมูลส่วนตัว</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>